/*PADRONIZAÇÃO*/
.color-primary{ 
    color: #00ccbe !important;
}

.bg-primary{
    background-color: #00ccbe !important;
}

.bg-primary:hover,
.bg-primary:focus,
.bg-primary:active{
    background-color: #00EDDD !important;
}

/*------------------*/

/*Acessórios*/
.btn-primary {
    border: none;
    transition: background 0.3s ease, transform 0.2s ease;
}
.btn-primary:hover {
    transform: translateY(-2px);
}
.btn-primary:active,
.btn-primary:focus{
    color: #fff !important;
    box-shadow: none;
    transform: translateY(2px);

}
/* Inputs com class form-control */
.form-control {
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus,
.form-control:active {
    border-color: #00EDDD !important;
    box-shadow: 0 0 8px rgba(0, 237, 221, 0.4);
    outline: none;
    
}

.form-select{
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-select:hover{
    border-color: #00EDDD !important;
    box-shadow: 0 0 8px rgba(0, 237, 221, 0.4);
    outline: none;
    
}
.dropdown-item{
    border: none;
    border-radius: 8px;
    text-align: center;
}

.dropdown-item:hover{
    box-shadow: 0 0 8px rgba(0, 237, 221, 0.4);
    outline: none;
    background-color: #00EDDD !important;
    color: #fff;
    
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #b9b9b9 !important; /* cor do selecionado */
  color: #fff !important;              /* texto branco para contraste */
}
/* background de containers com class bg-light */
.bg-light {
    background-color: #f9fafc !important;
}
.selectOption.active,
.selectOption:active {
  background-color: #b9b9b9 !important; /* cor do selecionado */
  color: #fff !important;              /* texto branco para contraste */
}