  
  /* imagem principal */
  .hero-1 {
            height: 100vh;
            background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), 
                        url('/climb/climb_interface_application/src/assets/wallpaperflare.com_wallpaper.jpg');
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
   




section {
    padding: 80px 0;
}



/* navbar dentro da imagem principal  */
.hero-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent; 
    z-index: 10;
}

/* navbar botões */
.navbar .nav-link {
    color: #fff !important;
    font-weight: 500;
    margin: 0 10px;
    position: relative;
    transition: color 0.3s ease;
}



.navbar .nav-link:hover {
    color: #00ccbe !important;
}


.navbar .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: #00ccbe;
    transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
    width: 100%;
}


.navbar .nav-link.fw-bolder {
    color: #fff !important;
    background: #00ccbe;
    border-radius: 10px;
    padding: 6px 16px;
    transition: all 0.3s ease;
}

.navbar .nav-link.fw-bolder:hover {
    background: #00eddd;
    color: #fff !important;
    transform: translateY(-2px);
}




/* Cards de beneficios  */

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
    background: #fff;
}

.card img {
    transition: transform 0.4s ease;
    border-bottom: 1px solid #f0f0f0;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card:hover img {
    transform: scale(1.05);
}

.card-body {
    text-align: center;
    padding: 20px;
}

.card:hover .card-text {
    color: #00ccbe;
    font-weight: 500;
}




/* footer  */

.footer {
    background: #2F2F2F;
    color: #bbb;
    padding: 40px 0;
    margin-top: 50px;
}

.footer p {
    margin: 5px 0;
}

.footer span {
    color: #ff4d6d;
}
